
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root{
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

.annually{
    display: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: var(--Very-Light-Grayish-Blue);
    color: var(--Dark-Grayish-Blue);
}
body::before{
    content: '';
    background-image: url(/images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
body::after{
    content: '';
    background-image: url(/images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.container{
   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: center;
   margin: auto;
   max-width: 100%;
   width: 1200px;
}
.grid-flow{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
h1{
    font-size: 1.5rem;
}
.toggle-container{
    color: var(--Light-Grayish-Blue);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: none;
    border-radius: 1rem;
    padding: 1em;
    margin: 10px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.card h3{
    font-size: 1rem;
    margin-top: 1rem;
}
.card span{
    font-size: 3rem;
    font-weight: 700; 
}
.card p{
    font-size: 0.8rem;
    font-weight: 500;
}

.card ul{
    border-top: 1px solid var(--Light-Grayish-Blue);
    padding: 0;
    list-style-type: none;
}
.card ul li{
    border-bottom: 1px solid var(--Light-Grayish-Blue);
    padding: 15px 0;
    font-size: 14px;
}
.card button{
    border: none;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    padding: 0.5rem 4rem;
    border-radius: 9px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.2s;
}
.card button:hover{
    border: 1px solid hsl(237, 63%, 64%);
    background-image: linear-gradient(to right,rgb(194, 186, 186), rgb(77, 75, 75));

}
.card button a{
    text-decoration: none;
    color: var(--Very-Light-Grayish-Blue);
    letter-spacing: 2px;
    text-transform: uppercase;
}
.card button a:hover{
    color: rgb(76, 0, 255);

}
.Professional-card{
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: var(--Very-Light-Grayish-Blue);
    transform: scale(1.15);
}
.Professional-card > *{
    transform: scale(0.869);
}
.card.Professional-card button {
    background-image: none;
    background-color: var(--Very-Light-Grayish-Blue);
    transition: 0.5s;
}
.card.Professional-card button:hover {
    border: 1px solid white;
    background-color: hsl(237, 63%, 64%);

}
.card.Professional-card button a{
    color: hsl(237, 63%, 64%);
}
.card.Professional-card button a:hover {
    color: white;
}
.toggle-container label{
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 50px;
    cursor: pointer;
    margin: 0 10px;
    position: relative;
    height: 30px;
    width: 60px;
}
.toggle-container label .ball{
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.4s;
}
.toggle-container input{
    position: absolute;
    left: -99999px;
}
.toggle-container input:checked + label .ball{
    transform: translateX(30px);
}


@media (max-width:780px) {
    .grid-flow{
        grid-template-columns: 1fr;
    }
    .Professional-card{
        transform: scale(1);
    }
    .Professional-card > *{
        transform: scale(1);
    }
    
}